/_build/*
/elasticsearch/bin/*
/elasticsearch/lib/*

/logstash/bin/*
!/logstash/bin/*.conf
/logstash/lib/*
!/logstash/lib/logstash/filters/hashme.rb
/logstash/locales/*
/logstash/patterns/*
!/logstash/patterns/iis
/logstash/spec/*
/logstash/vendor/*
!/logstash/vendor/kibana/app/dashboards/jv*
LICENSE.txt
LICENSE
README.md
NOTICE.txt
README.textile
.DS_Store
.DS_Store?
.zip
.tar*
.jar
.so
.dll
.exe
.dylib
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db